:root{
    --border-width: 2px;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: whitesmoke;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: skyblue;
}

h1{
    font-size: 48px;
    color: gray;
}

li{
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    border-left: var(--border-width) solid white; 
    padding: 0px 10px;
}

li:last-child{
    border-right: var(--border-width) solid white;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 10px;
}


main{
    display:flex;
    flex-direction: column;
}

/* Styling for the subtitle text on top of images */
/* TODO: Move styling for padding to ID since it is specific to the heading*/
.heading-name{
    display: flex;
    margin: 10px 0px;
    padding: 0px 10px 0px 40px;
    background: cyan;
}

/* Handles flex styling for each portfolio section */
.portfolio-sections{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px; 
}

/* Handles flex styling for each portfolio title element */
.portfolio-titles{
    display:flex;
    justify-content: right;
    border-right: 10px solid slategray;
    flex-basis: 20%;
}

.portfolio-subsection{
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-around;
}

.portfolio-subsection figure{
    display: flex;
    flex: 1 1 40%;
    height: 250px;
    margin: 15px;
    justify-content: center;
}

.portfolio-subsection figure:first-child{
    flex: 5 5 60%;
    height: 550px;
}

.portfolio-subsection img {
    object-fit: cover;
    width:100%;
    border: var(--border-width) solid skyblue;
}

#header-name{
    display:flex;
    flex-basis: 40px;
    text-align: right;
    margin-right: 5px;
}

#banner-subtitle{
    display: flex;
    position: absolute;
    background: teal;
    padding:5px;
    right:10px;
    bottom:10px;
    font-family: monospace;
    font-size: 24px;
}

/* Used as a root for the subtitle text */
#banner-container{
    display: flex;
    position: relative;
    overflow: clip;
}

/* Styles the site in a column layout when the screen width is less than 768px */
@media  screen and (max-width: 768px) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    nav{
        flex-direction: column;
        margin: 0px;
    }

    li{
        display:block;
        border: 0px;
        border-bottom: var(--border-width) solid gray ;
        padding: 0px;
    }

    li:last-child{
        border-right: 0px;
    }

    .heading-name{
        align-self: center;
    }

    .portfolio-subsection figure:first-child{
        display: flex;
        flex-grow: 1;
        height: 250px;
    }

    #banner-container{
        display:none;
    }
}