/* Variables used for repetitive styling */
:root{
    --border-width: 2px;
    --layout-direction: row;
    --navbar-border: var(--border-width) solid gray;
}

/* Sets the initial margin and padding to 0px */
*{
    margin: 0px;
    padding: 0px;
}

/* background color for website */
body{
    background: #fffbee;
}

/* Handles header styling */
header{
    display: flex;
    flex-direction: var(--layout-direction);
    justify-content: space-between;
    align-items: center;
    background: #faebd7;
}

/* Sets styling for the h1 headers */
h1{
    font-size: 48px;
    color: #485063;
}

/* Common font-family for h2 & h3 headers */
h2,h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sets font-size for h2 */
h2{
    font-size: 22px;
}

/* Sets font-size for h3 */
h3{
    font-size: 18px;
    color: rgb(44, 44, 44);
}

/* Makes the list items inline and adds box seperators between each element */
li{
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    border-right: var(--navbar-border); 
    padding: 0px 10px;
}

/* Removes the border for the last list item */
li:last-child{
    border-right: 0px;
}

/* Styling for the nav container */
nav{
    display:flex;
    flex-direction: var(--layout-direction);
    justify-content: space-evenly;
    margin: 0px 10px;
}

/* Reset link styling */
a{
    color:black;
    text-decoration: none;
}

/* Flex styling for main */
main{
    display:flex;
    flex-direction: column;
}

/* Styling for the subtitle text on top of images */
.heading-name{
    display: flex;
    margin: 10px 0px;
    padding: 0px 10px 0px 40px;
    background: lightblue;
}

/* Handles flex styling for each portfolio section */
.portfolio-sections{
    display:flex;
    flex-direction: var(--layout-direction);
    justify-content: space-between;
    margin: 20px; 
}

/* Handles flex styling for each portfolio title element */
.portfolio-titles{
    display:flex;
    justify-content: right;
    border-right: 10px solid slategray;
    flex-basis: 20%;
}

/* Styling for each subsection of the portfolio */
.portfolio-subsection{
    display: flex;
    flex-direction: var(--layout-direction);
    flex-basis: 80%;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-around;
}

/* Makes the first project bigger than the rest */
.portfolio-subsection .projectlinks:first-child{
    flex: 5 5 60%;
    height: 550px;
}

/* Styling for the project link blocks */
.projectlinks{
    display: flex;
    flex: 1 1 40%;
    height: 250px;
    margin: 15px;
    justify-content: center;
    background: white;
}

/* General container for the projects section */
.project-container{
    border: 7px solid lightblue;
    border-radius: 10px;
}

/* Adds a transition effect when opacity is changed */
.image-transition{
    transition: .5s ease;
    backface-visibility: hidden;
}

/* Changes the opacity of the project image */
.project-container:hover .image-transition{
    opacity: 0.7;
}


/* Used as a root for the subtitle text */
.subtitle-container{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: clip;
    
}

/* Styling for the container behind the subtitle text */
.subtitle-backdrop{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: lightblue;
    padding: 5px;
    bottom: 0;
}

/*  */
.header-title{
    display:flex;
    flex-basis: 40px;
    text-align: right;
    margin-right: 5px;
}

/* Font formatting for the links in the nav bar */
#navlinks{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Formatting for the subtitle in the banner */
#banner-subtitle{
    right:10px;
    bottom:10px;
    font-family: monospace;
    font-size: 24px;
}

/* Used to align the about me paragraph */
#aboutme-subsection{
    justify-content: flex-start;
}

/* Formats the text contained in the about me paragraph */
#aboutme-paragraph{
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5d6475;
    
}

/* Formatting for the contact me links */
#contactlinks{
    display:flex;
    align-self: center;
    border-bottom: 3px solid black;
    margin: 5px;
}

/* Styles the site in a column layout when the screen width is less than 768px */
@media  screen and (max-width: 768px) {
    :root{
        --layout-direction: column;
    }

    header{
        /* flex-direction: var(--layout-direction); */
        justify-content: center;
        align-items: stretch;
    }

    nav{
        /* flex-direction: var(--layout-direction);; */
        margin: 0px;
    }

    li{
        display:block;
        border: 0px;
        border-top: var(--navbar-border);
        padding: 5px 0px;
    }

    li:last-child{
        border-right: 0px;
        border-bottom: var(--navbar-border) ;
    }
    body figure:first-child{
        display:none;
    }

    .heading-name{
        align-self: center;
        background: transparent;
        margin: 10px 0x;
    }

    .portfolio-titles{
        justify-content: center;
        border-right: 0;
        border-bottom: 10px solid slategray;
    }

    .header-title{
        justify-content: center;
        flex-basis: auto;
        text-align: center;

    }

    .portfolio-sections{
        margin: 0px;
        margin-top: 10px;
    }

    .portfolio-subsection{
        flex-wrap:nowrap;
        margin: 15px 15px;
    }

    .portfolio-subsection .projectlinks:first-child{
        display: flex;
        flex-grow: 1;
        height: auto;
    }

    .projectlinks{
        margin:15px 0px;
        height:200px;
    }

    #banner-container{
        display:none;
    }

    /* Used to hide the image banner when in movile view */
    #hidebanner{
        display: none;
    }
}