:root {
  --prime-color: #343d46;
  --second-color: #4f5b66;
  --tert-color: #65737e;
  --quat-color: #a7adba;
  --quin-color: #c0c5ce;
  --layout-direction: row;
  --justify-alignment: center;
  --alignment-direction: center;
  --burger-visibility: none;
  --nav-visibility: flex;
  --card-margin: 30px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--tert-color);
}

a {
  text-decoration: none;
}

h1 {
  margin: 5px 0px 5px 0px;
}

.hamburger {
  display: var(--burger-visibility);
  height: 35px;
  width: 35px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--quat-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid var(--quat-color);
  padding: 0.2rem 0.2rem;
  margin: 0 0.7rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.prime-bg {
  background: var(--prime-color);
}
.second-bg {
  background: var(--second-color);
}
.tert-bg {
  background: var(--tert-color);
}
.quat-bg {
  background: var(--quat-color);
}
.quin-bg {
  background: var(--quin-color);
}
.prime-text {
  color: var(--prime-color);
}
.prime-text:hover {
  color: var(--tert-color);
}
.second-text {
  color: var(--second-color);
}
.second-text:hover {
  color: var(--tert-color);
}
.tert-text {
  color: var(--tert-color);
}
.tert-text:hover {
  color: var(--tert-color);
}
.quat-text {
  color: var(--quat-color);
}
.quat-text:hover {
  color: var(--tert-color);
}
.quin-text {
  color: var(--quin-color);
}
li > .quin-text:hover {
  color: var(--tert-color);
}

.custom-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.custom-btn {
  background: var(--quat-color);
}

.custom-direction {
  flex-direction: var(--layout-direction);
}

.custom-justify {
  justify-content: var(--justify-alignment);
}
.custom-align {
  align-items: var(--alignment-direction);
}

.custom-card-margin {
  margin: var(--card-margin);
}

.custom-contain {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  width: 100%;
}

.show-menu {
  display: var(--nav-visibility);
}

/* Formatting for the contact me links */
.contactlinks {
  display: flex;
  align-self: center;
  border-bottom: 3px solid var(--quin-color);
  margin: 5px;
}

/*  */
.section-title {
  color: var(--quin-color);
  width: 100vw;
  text-align: center;
  padding-top: 10px;
}

#avatar {
  border: 5px solid white;
  box-shadow: 0px 0px 5px 1px black;
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
}

/* Formats the text contained in the about me paragraph */
#aboutme-paragraph {
  text-align: left;
  padding: 20px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 5px;
  color: var(--quin-color);
  background-color: var(--second-color);
}

@media screen and (max-width: 768px) {
  :root {
    --layout-direction: column;
    --justify-alignment: center;
    --alignment-direction: center;
    --card-margin: 10px 0;
    --burger-visibility: inline-block;
    --nav-visibility: none;
  }
}